@font-face {
  font-family: 'Oswald';
  src:url('../fonts/Oswaldlight.woff2') format('woff2'), url('../fonts/Oswaldlight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswaldregular.woff2') format('woff2'), url('../fonts/Oswaldregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswalddemibold.woff2') format('woff2'), url('../fonts/Oswalddemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswaldregularitalic.woff2') format('woff2'), url('../fonts/Oswaldregularitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswaldmediumitalic.woff2') format('woff2'), url('../fonts/Oswaldmediumitalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswaldextralightitalic.woff2') format('woff2'), url('../fonts/Oswaldextralightitalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswaldheavyitalic.woff2') format('woff2'), url('../fonts/Oswaldheavyitalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswaldheavy.woff2') format('woff2'), url('../fonts/Oswaldheavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src:url('../fonts/Oswaldlightitalic.woff2') format('woff2'), url('../fonts/Oswaldlightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswaldmedium.woff2') format('woff2'), url('../fonts/Oswaldmedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswaldextralight.woff2') format('woff2'), url('../fonts/Oswaldextralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src:url('../fonts/Oswaldbolditalic.woff2') format('woff2'), url('../fonts/Oswaldbolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswalddemibolditalic.woff2') format('woff2'), url('../fonts/Oswalddemibolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswaldbold.woff2') format('woff2'), url('../fonts/Oswaldbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #464646;
  min-width: 320px;
  height: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border: 0px;
  display: block;
  max-width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
