.button {
  width: 280px;
  height: 40px;
  display: block;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  @media (min-width: $tablet-width) {
    width: 249px;
    font-size: 16px;
    }
  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.button--green {
  background-color: $primary-color;
  color: #ffffff;
  &:hover {
    background-color: #5eaa2f;
  }
  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--gray {
  background-color: $secondary-color;
  color: #444444;
  &:hover {
    background-color: #ebebeb;
  }
  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}

.button--text {
  position: relative;
  display: block;
  color: #111111;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 96px;
    width: 17px;
    height: 2px;
    background-color: #3e4242;
    @media (min-width: $tablet-width) {
      top: 9px;
      left: 131px;
    }
    @media (min-width: $desktop-width) {
      top: 9px;
      left: 131px;
    }
  }
  &::after {
    position: absolute;
    top: 3px;
    left: 113px;
    content: " ";
    display: block;
    border: 5px solid transparent;
    border-left: 7px solid #3e4242;
    width: 0;
    height: 0;
    @media (min-width: $tablet-width) {
      top: 5px;
    left: 148px;
    }
    @media (min-width: $desktop-width) {
      top: 5px;
      left: 148px;
    }
  }
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.button--text:hover {
  opacity: 1;
  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 96px;
    width: 26px;
    height: 2px;
    background-color: #3e4242;
    @media (min-width: $tablet-width) {
      top: 9px;
      left: 131px;
    }
    @media (min-width: $desktop-width) {
      top: 9px;
      left: 131px;
    }
  }
  &::after {
    position: absolute;
    top: 3px;
    left: 122px;
    content: " ";
    display: block;
    border: 5px solid transparent;
    border-left: 7px solid #3e4242;
    width: 0;
    height: 0;
    @media (min-width: $tablet-width) {
      top: 5px;
    left: 154px;
    }
    @media (min-width: $desktop-width) {
      top: 5px;
      left: 154px;
    }
  }
}

.button--text:active {
  opacity: 0.3;
}
