.catalog-item-add {
  text-align: center;
  padding-top: 25px;
}

.catalog-item-add__title {
  color: #111111;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 18px;
}

.catalog-item-add__text {
  color: #444444;
  font-family: $font-text;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 20px;
}
