.catalog {
  @extend %container;
}

.catalog__title {
  @extend %font-h1;
  margin: 14px 0 29px;
}

.catalog__list {
  @extend %default-list;
}

.catalog__item {
  border-bottom: 1px solid #ededed;
  padding: 0 20px 24px;
  margin: 0;
}

.catalog__item:first-child {
  border-top: 1px solid #ededed;
}

.catalog-item__button {
  font-size: 16px;
}
