.catalog-add {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-add__title {
  color: #111111;
  font-family: $main-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 28px 0 34px;
  width: 100%;
  background-image: linear-gradient(to bottom, #fff 14px, #68b738 14px, #68b738 17px, #fff 17px);
}

.catalog-add__title span {
  background: #fff;
  padding-right: 20px;
  padding-left: 20px;
}

.catalog-add__list {
  @extend %default-list
}
