// body {
//   background: ;
//   background-image: ;
//   font-size: ;
//   font-family: ;
//   font-weight: ;
//   letter-spacing: ;
//   color: ;
//   padding: ;
//   margin: ;
// }
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswaldregular.woff2') format('woff2'), url('../fonts/Oswaldregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswaldmedium.woff2') format('woff2'), url('../fonts/Oswaldmedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  min-width: 320px;
  background: #ffffff;
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: "Oswald", "Arial MT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

%default-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}



@mixin set-font-size ($font-size: 16px) {
  font-size: $font-size;
  font-size: #{($font-size/16px)}rem;
}
