.copyright {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 20px;
  justify-content: space-between;
  &::before {
    content: " ";
    display: block;
    height: 1px;
    width: 100%;
    background: #d9d9d9;
    margin: 16px 0;
    @media (min-width: $tablet-width) {
      display: none;
    }
    @media (min-width: $desktop-width) {
      width: 125px;
      display: none;
    }
  }
}

.copyright__text {
  color: #444444;
  font-family: $font-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.copyright svg {
  width: 40px;
  height: 40px;
  margin-right: -5px;
  margin-top: 5px;
  fill: #666666;
}

.copyright svg:hover {
  fill: #a4d189;
}

.copyright svg:active {
  opacity: 0.3;
  fill: #a4d189;
}
