.footer {
 width: 100%;
  background: #f2f2f2;
  @media (min-width: $tablet-width) {
    background: #ffffff;
  }
  @media (min-width: $desktop-width) {
    background: #ffffff;
  }
}

.footer__logo {
  display: block;
  padding: 0 20px;
  text-align: center;


  &::after {
    content: " ";
    display: block;
    height: 1px;
    width: 100%;
    background: #d9d9d9;
    margin: 25px 0;
  }
}

.footer__logo-img:hover {
  opacity: 0.8;
}
.footer__logo-img:active {
  opacity: 0.6;
}
