// .header {
//   background: ;
//   background-image: ;
//   font-size: ;
//   font-family: ;
//   font-weight: ;
//   letter-spacing: ;
//   color: ;
//   padding: ;
//   margin: ;
// }
.header {
  @extend %container;
  position: relative;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $main-font;
  color: #111111;
  background: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
