.main-nav {

  display: flex;
  padding: 0;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
}

.main-nav__wrapper {
  display: block;
}


.main-nav__list {
  width: auto;
  padding: 0;
  margin: 0;
}
