.order-all {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 280px;
  height: 289px;
  padding-top: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 33px;
  color: #ffffff;
  background: url(../img/gift-photo-mobile@1x.jpg) no-repeat;
  text-align: center;
  & svg {
    fill: white;
  }
  @media (min-width: $tablet-width) {
    width: 708px;
    height: 200px;
    background: url(../img/gift-photo-tablet@1x.jpg) no-repeat;
  }
  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
    background: url(../img/gift-photo-desktop@1x.jpg) no-repeat;
    margin: 0;
  }
}

.order-all__text {
  color: #ffffff;
  font-family: $font-text;
  font-size: 16px;
  font-weight: 400;
  margin-top: 35px;
}
