.order-all {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 280px;
  height: 289px;
  padding-top: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 33px;
  color: #ffffff;
  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-repeat: no-repeat;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url(../img/gift-photo-mobile@2x.jpg);
    background-size: 280px 289px;
  }
  text-align: center;
  & svg {
    fill: white;
  }
  @media (min-width: $tablet-width) {
    width: 708px;
    height: 200px;
    background-image: url(../img/gift-photo-tablet@1x.jpg);
    background-repeat: no-repeat;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url(../img/gift-photo-tablet@2x.jpg);
      background-size: 708px 200px;
    }
  }
  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
    background-image: url(../img/gift-photo-desktop@1x.jpg);
    background-repeat: no-repeat;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url(../img/gift-photo-desktop@2x.jpg);
      background-size: 245px 289px;
    }
    margin: 0;
  }
}

.order-all__text {
  color: #ffffff;
  font-family: $font-text;
  font-size: 16px;
  font-weight: 400;
  margin-top: 35px;
}
