$primary-color: #68b738;
$secondary-color: #f2f2f2;
$bg-color:#ffffff;
$bg-color-grey:#f2f2f2;
$main-font: "Oswald",
"Arial",
sans-serif;
$font-text: "Arial MT",
"Arial", sans-serif;
$tablet-width: 780px;
$desktop-width: 1200px;
